.login {
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;

  &__buttons {
    display: flex;
    flex-direction: column;

    button:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    button:last-child {
      margin-top: 15px;
    }
  }
}