.shareRoute {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 15px;
    }
  }

  &__button {
    height: 40px;
    background-color: #3c2fc9;
    color: #ffffff;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    margin-top: 20px;
  }

  span {
    margin-left: 8px;
  }

  &__btnIcon {
    font-size: 20px;
  }

  &__link {
    margin-top: 20px;
    color: #3c2fc9;
    background-color: transparent;
    border: none;
    font-size: 16px;
  }

  &__details {
    display: flex;
    background-color: #f4f4f4;
    border: 1px solid #dbdbdb;
    color: #6b6b6b;
    padding: 20px;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    margin: 0 15px;
    
    p {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100px;
    margin-right: 15px;
  }
}